    <div style="font-family:arial,sans-serif;">
      <h5 style="margin-bottom:0px;margin-top:2px;">Bible Reading Enriches Any Day</h5>
      <div style="font-family:arial,sans-serif;font-size:12px;padding:7px;">
        <%= @tagall %>
      </div>
    </div>
    <!-- ALm6fM3agewIptALKiPO_TBbjrFZVq2gF3jOTDa3BJGIgQ8MC7SUCG0_NdCoIGlDXsMaWvVng_cpKE6vEH9RstuJv5NvXkuXNEc0ujGFzuwpuptrGSMAatxHaqf-Zdb_5hBVGAH1h3lk -->
