body, table { font-family:arial,helvetica,sans-serif; font-size:10pt }

/* menus */
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			10em;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li { float:left; position:relative }
.sf-menu a { display:block; position:relative }
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			8em;
	top:			0em; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			8em; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.sf-menu { float:left; margin-bottom:1em }
.sf-menu a { padding:.2em .3em; text-decoration:none; font-size:18px }
.sf-menu a, 
.sf-menu a:focus, 
.sf-menu a:active, 
.sf-menu a:visited { color:#233c6f }
.sf-menu a:hover { color:steelblue; outline:0 }

.sf-menu li { background:transparent; float:none }
.sf-menu li ul { border:solid 1px white }
.sf-menu li li { background:#bbb }
.sf-menu li li a, 
.sf-menu li li a.active,
.sf-menu li li a.focus, 
.sf-menu li li a.link,
.sf-menu li li a.visited { font-size:14px; color:#fff }
.sf-menu li ul.sections { width:8em }
.sf-menu li ul.sections li { width:8em }

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/* vert menu skin */
.sf-vertical, .sf-vertical li { width:10em }
.sf-vertical li:hover ul, .sf-vertical li.sfHover ul { left:10em; top:0 }

/*** alter arrow directions ***/
.sf-vertical .sf-sub-indicator { background-position: -10px 0; } /* IE6 gets solid image only */
.sf-vertical a > .sf-sub-indicator { background-position: 0 0; } /* use translucent arrow for modern browsers*/

/* hover arrow direction for modern browsers*/
.sf-vertical a:focus > .sf-sub-indicator,
.sf-vertical a:hover > .sf-sub-indicator,
.sf-vertical a:active > .sf-sub-indicator,
.sf-vertical li:hover > a > .sf-sub-indicator,
.sf-vertical li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/* ------ */
.church-list .col1 { width:80px; text-align:center }
.church-list .col2 { width:290px }
.church-list .col3 { width:160px }
.church-list .col4 { width:240px }
.church-list .moreinfo { text-decoration:underline; color:blue }

.minister-list .col1 { width:100px; text-align:center }
.minister-list .col2 { width:100px }
.minister-list .col3 { width:260px }

/* tables */
.church-list, .minister-list {
  font-family:arial,helvetica,sans-serif; font-size:10pt; background-color: #CDCDCD; text-align:left;
}
.church-list-holder { height:440px; overflow:auto }
.church-list thead tr th, .church-list tfoot tr th, .minister-list thead tr th, .minister-list tfoot tr th {
	background-color: #e6EEEE; border: 1px solid #fff; border-collapse:collapse; padding: 4px;
}
.church-list thead tr .header, .minister-list thead tr .header {
	background-image: url(/images/bg.gif); background-repeat: no-repeat; background-position: center right; cursor: pointer;
}
.church-list tbody td, .minister-list tbody td {
	color: #3D3D3D; padding: 4px; background-color: #FFF; vertical-align: top;
}
.church-list tbody tr.odd td, .minister-list tbody tr.odd td {
	background-color:#F0F0F6;
}
.church-list thead tr .headerSortUp, .minister-list thead tr .headerSortUp {
	background-image: url(/images/asc.gif);
}
.church-list thead tr .headerSortDown, .minister-list thead tr .headerSortDown {
	background-image: url(/images/desc.gif);
}
.church-list thead tr .headerSortDown, .church-list thead tr .headerSortUp,
.minister-list thead tr .headerSortDown, .minister-list thead tr .headerSortUp {
  background-color: #8dbdd8;
}

.church-detail { 
  border:solid 1px #223c6f; height:90px; display:none; position:absolute; height:120px;
  left:16px; width:95%; background-color:white; top:20px
}
.church-detail .close-link { text-decoration:none; color:black; background:lightgrey; padding:2px }
.church-detail .contact-info { 
  width:350px; vertical-align:top; padding:3px; float:left; height:106px; clear:left 
}
.church-detail .contact-info dl { 
  margin:0px 
}
.church-detail .contact-info dt { 
  float:left; font-weight:bold; padding-right:7px 
}
.church-detail .physical-address { 
  width:210px; vertical-align:top; padding:3px; float:left; height:106px 
}

.email-addr { width:400px }
.resv-notes { width:400px; height:80px }
.missionary-title { margin-bottom:0px }

.day-list { list-style-type:none; line-height:1.8; width:60% }
.day-list li a { text-decoration:none; font-size:110% }
.day-list li:hover { background-color:#f0f0f0 }

.reservation-row { clear:both; padding:6px 0px }
.reservation-row div { float:left }
.reservation-row .more { width:75px }
.reservation-row .more  a { color:blue }
.reservation-row .name { width:150px }
.reservation-row .labor { width:350px }
.reservation-row .dates { width:130px }

.reservation-one { clear:both; padding:6px 0px }
.reservation-one .name { font-size:20px; font-weight:bold }
.reservation-one .labor { font-size:14px; font-style:italic }

.reservation-schedule { clear:both; display:none }
.reservation-schedule .schedule { width:705px; border-top:2px solid #233c6f; margin:5px 5px 0px }
.reservation-schedule .schedule th, .reservation-schedule .schedule td { padding:2px }
.reservation-schedule .schedule th { background-color:#223c6f; color:white; font-size:12px }
.reservation-schedule .schedule td { background-color:white; color:#223c6f; font-size:11px }
.reservation-schedule .schedule .day { width:40px }
.reservation-schedule .schedule .date { width:100px }
.reservation-schedule .schedule .time { width:70px }
.reservation-schedule .schedule .city { width:140px }
.reservation-schedule .schedule .church { width:170px }
.reservation-schedule .schedule .pastor { width:160px }

.reservation-schedule-one { clear:both }
.reservation-schedule-one .schedule { width:95% }
.reservation-schedule-one .schedule th, .reservation-schedule .schedule td { padding:4px }
.reservation-schedule-one .schedule th { background-color:#441; color:white; font-size:14px }
.reservation-schedule-one .schedule td { 
    background-color:white;
    color:#000000; 
    font-size:14px; 
    padding:4px 2px;
    border-bottom:silver 1px solid 
}
.reservation-schedule-one .schedule td.missionary-info { background-color:transparent; font-size:16px; padding-bottom:8px }
.reservation-schedule-one .schedule .day { width:40px }
.reservation-schedule-one .schedule .date { width:100px }
.reservation-schedule-one .schedule .time { width:70px }
.reservation-schedule-one .schedule .city { width:140px }
.reservation-schedule-one .schedule .church { width:170px }
.reservation-schedule-one .schedule .pastor { width:160px }

dl.reservation-update { line-height:1.8 }
dl.reservation-update dt { font-weight:bold; float:left; clear:left; width:110px; padding-right:6px; text-align:right }
dl.reservation-update dd input { width:318px }
dl.reservation-update dd textarea { width:318px; height:100px; margin-top:5px }
dl.reservation-update div.in-line { width:110px; float:left }
dl.reservation-update div.in-line.header { font-weight:bold; padding-right:6px; text-align:right }
div.in-line input.short-text { width:110px }

.admin-church-listings { padding:10px 10px 0 10px }
.admin-church-listings .church-listing-row { clear:both; height:20px }
.admin-church-listings .church-listing .header div { font-weight:bold; background-color:#203e70; color:white }
.admin-church-listings .church-listing .footer div { background-color:#203e70; height:4px }
.admin-church-listings .church-listing-row div { float:left; padding-right:1em; padding-left:.5em }
.admin-church-listings .church-listing-row div.col1 { font-weight:bold; width:320px }
.admin-church-listings .church-listing-row div.col2 { margin:0 0 0 0.25em; width:160px }
.admin-church-listings .church-listing-row div.col3 { margin:0 0 0 0.25em; width:200px }

.admin-church-editing dl { line-height: 2 }
.admin-church-editing dl input { width: 250px; padding-left:3px; border:solid 1px #d0d0d0 }
.admin-church-editing dl input.read_only { text-align:center; width:120px; padding-left:0px; background:#fff; border:0px }
.admin-church-editing dl select { width: 255px; padding-left:3px; border:solid 1px #d0d0d0 }
.admin-church-editing dl dt { font-weight:bold; width:125px; text-align:right; padding-right:1em; clear:both; float:left; }
.admin-church-editing dl dd { float:left; margin:0 0 0.5em 0.25em }

.admin-minister-listings .minister-listing div { padding-left:3px; padding-right:3px; line-height:1.8; border:solid 1px #e0e0e0 }
.admin-minister-listings .minister-listing .col1 { clear:left; float:left; width:180px }
.admin-minister-listings .minister-listing .col2 { float:left; width:180px; overflow:hidden }
.admin-minister-listings .minister-listing .inactive { color: #cc0033 }
.admin-minister-listings .minister-listing .inactive a { color: #cc0033 }
.admin-minister-listings .minister-listing .header { font-weight:bold; background-color:#203e70; color:white }
.admin-minister-listings .minister-listing .footer { background-color:#203e70; height:6px }

.admin-minister-listings .minister-editing dl { line-height:1.8 }
.admin-minister-listings .minister-editing dl dt { clear:left; float:left; width:130px; font-weight:bold }
.admin-minister-listings .minister-editing dl dt { float:left }

.admin-minister-editing th { text-align:right; padding-right:0.5em; padding-top:4px }
.admin-minister-editing td { padding-right:0.5em; padding-top:4px }
.admin-minister-create th { text-align:right; padding-right:0.5em; padding-top:4px }
.admin-minister-create td { padding-right:0.5em; padding-top:4px }

.admin-minister-profile { padding-left:0.5em }
.admin-minister-profile .minister-names { width:488px; padding:5px }
.admin-minister-profile .minister-names .minister-status { margin-top:20px; margin-right:2px; float:right; font-weight:bold }
.minister-names .active { color:green }
.minister-names .inactive { color:red }
.admin-minister-profile .minister-address { padding-left:0.5em; line-height:1.8 }
.admin-minister-profile .minister-address dt { font-weight:bold; width:130px; float:left; clear:both }
.admin-minister-profile .minister-address dd { float:left }
.admin-minister-profile * h4 { margin:1px; padding:3px; background-color:steelblue; color:white }
.admin-minister-profile .minister-roles { font-weight:bold; font-style:italic }

.deputation-booking-table .col1 { width:270px }
.deputation-booking-table .col2 { width:90px }
.deputation-booking-table .col3 { width:90px }
.deputation-booking-table td.second { border-bottom:solid 1px #333; font-size:1px  }

div.events { padding:3px 3px 3px 10px }
.events .event-title { width:100%; font-size:120%; font-weight:bold }
.events .timeline { font-size:120%; font-weight:bold; color:#c00 }
.events .location { font-size:105%; font-weight:bold }
.events .event-theme {
	font-size:180%; font-weight:bold; color:#00f; font-style:italic; margin-top:1em; margin-bottom:1em
}

.event-register { line-height:1.2; border:0 }
.event-register ul { list-style:none; padding:0; margin:0; padding:8px; clear:left }
.event-register li { float:left }
.event-register li label { display:block; width:7em; float:left; padding-right:.5em; text-align:right }
.event-register li label.halfsize { width:5em }
.event-register li input { width:15em }
.event-register li select { width:15em }
.event-register li input.halfsize { width:7em }
.event-register li input.quartersize { width:4em }
.event-register li input.kingsize { width:37.8em }
.event-register li input.button { width:7em; border:solid 1px #360; margin-right:1em }

input.error, select.error { border: solid 1px #d00; color: #000 }

.confirming input { border: solid 1px white; border-bottom-color: #999 }

.event-display h1 { margin-bottom:0px }
.event-display h3 { font-style:italic; margin-top:0px; margin-bottom:0px }
.event-display h4 { color:#c00; margin-top:0px }

.admin-registration-list tr {}
.admin-registration-list th { font-weight:bold; background-color:#203e70; color:white; padding:3px 14px 3px 14px }
.admin-registration-list th.dates { text-align:center }
.admin-registration-list td { padding:4px }
.admin-registration-list td.dates { padding-left:14px; padding-right:14px; text-align:center }
.admin-registration-list td.names { padding-left:3px }
.admin-registration-list td.links { text-align:center }
