body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.deputation-booking-table th { background-color:#e0e0ef; color:steelblue }
.deputation-booking-table td.col1 { text-align:right }
.deputation-booking-table .col1 { width:120px; padding-right:3px }
.deputation-booking-table .col2 { width:84px; text-align:center }
.deputation-booking-table .col3 { width:86px; text-align:center }
.deputation-booking-table .col4 { width:455px }
.deputation-booking-table .col5 { width:70px }
.deputation-booking-table .col6 { width:130px }
.deputation-booking-table .short-box { width:84px }

.deputations-table th { background-color:#e0e0ef; color:steelblue }
.deputations-table th.col1 { padding-left:4px; padding-right:4px }
.deputations-table td { border-bottom:solid 1px #f3f3f3 }
.deputations-table td.col1 { text-align:center }
.deputations-table td.col2, .deputations-table td.col3 { padding-left:.5em; padding-right:1em }
.deputations-table.edit th { padding-left:.5em; padding-right:.5em; text-align:right }
.deputations-table.edit td { padding-left:.5em; padding-right:1em }
.deputations-table.edit td input { width:400px }

.documents-table th { background-color:#e0e0ef; color:steelblue }
.documents-table th.col1 { padding-left:4px; padding-right:4px; width:200px }
.documents-table th.col2 { min-width:400px }
.documents-table td { border-bottom:solid 1px #f3f3f3 }
.documents-table td.col2 { padding-left:.5em; padding-right:1em }

.header-bar { 
	width:100%;
	background-color:steelblue;
	font-weight:bold;
	font-size:110%;
	color:white
}
.header-bar div { padding-left:1em; padding-top:4px; padding-bottom:4px }
.footer-bar { 
	width:100%;
	background-color:steelblue;
	font-weight:bold;
	font-size:4px
}

.main-content { margin-left:1em }
.page-title { border-bottom: steelblue solid 2px; width:100% }
.page-title h2 { padding-left:0.5em; margin-top:2px; margin-bottom:4px }

.missionaries-table th { background-color:#e0e0ef; color:steelblue }
.missionaries-table th.col1, .missionaries-table th.col2 { padding-left:4px; padding-right:4px }
.missionaries-table td { border-bottom:solid 1px #f3f3f3 }
.missionaries-table td.col1, .missionaries-table td.col2 { text-align:center }
.missionaries-table td.col3, .missionaries-table td.col4 { padding-left:.5em; padding-right:1em }
.missionaries-table.edit th { padding-left:.5em; padding-right:.5em; text-align:right }
.missionaries-table.edit td { padding-left:.5em; padding-right:1em }
.missionaries-table.edit td input { width:400px }

.minister-profile { padding-left:0.5em }
.minister-profile .minister-names { width:488px; padding:5px }
.minister-profile .minister-names .minister-status { margin-top:20px; margin-right:2px; float:right; font-weight:bold }
.minister-names .active { color:green }
.minister-names .inactive { color:red }
.minister-profile .minister-address { padding-left:0.5em; line-height:1.8 }
.minister-profile .minister-address dt { font-weight:bold; width:130px; float:left; clear:both }
.minister-profile .minister-address dd { float:left }
.minister-profile * h4 { margin:1px; padding:3px; background-color:steelblue; color:white }
.minister-profile .minister-roles { font-weight:bold; font-style:italic }

.ministers-table td { padding-right:1em }

.minister-listing div { line-height:1.5; border:solid 1px white }
.minister-listing .col1 { clear:left; float:left; width:200px }
.minister-listing .col2 { float:left; width:220px; overflow:hidden }
.minister-listing .col3 { float:left; width:80px; text-align:center }
.minister-listing .header { font-weight:bold; background-color:#e0e0ef; color:steelblue }

.minister-editing dl { line-height:1.8 }
.minister-editing dl dt { clear:left; float:left; width:130px; font-weight:bold }
.minister-editing dl dt { float:left }

.menu-link { font-size:80%;padding-right:.5em }
.menu-link a { color:white }

.document-editing dl { line-height: 2 }
.document-editing dl input { width: 280px; padding-left:3px; border:solid 1px #d0d0d0 }
.document-editing dl textarea { width: 280px; padding-left:3px; border:solid 1px #d0d0d0; height:110px }
.document-editing dl input.read_only { text-align:center; width:140px; padding-left:0px; background:#fff; border:0px }
.document-editing dl select { width: 285px; padding-left:3px; border:solid 1px #d0d0d0 }
.document-editing dl dt { font-weight:bold; width:150px; text-align:right; padding-right:1em; clear:both; float:left; }
.document-editing dl dd { float:left; margin:0 0 0.5em 0.25em }

.church-editing dl { line-height: 2 }
.church-editing dl input { width: 280px; padding-left:3px; border:solid 1px #d0d0d0 }
.church-editing dl input.read_only { text-align:center; width:140px; padding-left:0px; background:#fff; border:0px }
.church-editing dl select { width: 285px; padding-left:3px; border:solid 1px #d0d0d0 }
.church-editing dl dt { font-weight:bold; width:150px; text-align:right; padding-right:1em; clear:both; float:left; }
.church-editing dl dd { float:left; margin:0 0 0.5em 0.25em }

.church-listing dl { line-height: 1.8 }
.church-listing-row { clear:both }
.church-listing .header div { font-weight:bold; background-color:#e0e0ef; color:steelblue }
.church-listing-row div { float:left; padding-right:1em; padding-left:.5em }
.church-listing-row div.col1 { font-weight:bold; width:320px }
.church-listing-row div.col2 { margin:0 0 0 0.25em; width:160px }
.church-listing-row div.col3 { margin:0 0 0 0.25em; width:200px }
.church-listing dt.header, .church-listing dd.header { 
  font-weight:bold; background-color:#e0e0ef; color:steelblue }

div.events { padding:3px 3px 3px 10px }
.events .event-title { width:100%; font-size:120%; font-weight:bold }
.events .timeline { font-size:120%; font-weight:bold; color:#c00 }
.events .location { font-size:105%; font-weight:bold }
.events .event-theme {
	font-size:180%; font-weight:bold; color:#00f; font-style:italic; margin-top:1em; margin-bottom:1em
}

.event-register { line-height:1.2; border:0 }
.event-register ul { list-style:none; padding:0; margin:0; padding:8px; clear:left }
.event-register li { float:left }
.event-register li label { display:block; width:7em; float:left; padding-right:.5em; text-align:right }
.event-register li label.halfsize { width:5em }
.event-register li input { width:15em }
.event-register li input.halfsize { width:7em }
.event-register li input.quartersize { width:4em }
.event-register li input.kingsize { width:37.8em }
.event-register li input.button { width:7em; border:solid 1px #360; margin-right:1em }

input.error, select.error { border: solid 1px #d00; color: #000 }

.confirming input { border: solid 1px white; border-bottom-color: #999 }


