<% content_for :page_javascript do %>
<script type="text/javascript">
  $(document).ready(function(){
    $('#registration_reset').bind('click', function(){ history.go(-1); });
  });
</script>
<% end %>

<h1>Event Registration</h1>

<div class="main-content events">

	<div>
		<div class="event-title"><%= @event.name %></div>
		<div class="timeline"><%= @event.dateline %></div>
		<div class="location"><%= @event.location %></div>
	</div>
	<div class="event-theme"><%= @event.tagline %></div>

  <% 
    if Date.today > @event.reg_expires.to_date then 
      render :partial => "expired_event"; 
    else 
      render :partial => "valid_event"; 
    end 
  -%>


</div>

