
<h1><%= @event.name %></h1>
<h3><%= @stream.name %></h3>
<div class="media-files">
<%= render :partial => "#{@stream.filetype}_media" %>
</div>

<br />
<%= link_to "Back to archive", archive_event_path(:format => 'html') %>
