<h2>Success!</h2>

<div>Your missionary deputation reservation has been processed. You should recieve a confirmation shortly.
If you do not, please contact <a href="mailto:webdev@waupc.net">webdev@waupc.net</a>.

<br /><br /><br />

Click <%= link_to "here", show_reservations_path %> to return to the reservation schedule.

</div>
