<h2>Forgot Your Password?</h3>
<% form_for @user do |f| %>

	<%= f.error_messages %>
	<%= f.label :login %><br />
	<%= f.text_field :login, :size => 30 %><br />
	<br />
	<%= f.submit "Email Password" %>

<% end %>
