		<style type="text/css" media="screen">
			.menu-list { font-size: 16px; font-weight: bold }
			.menu-list li { line-height:1.6; list-style-type:none }
			.menu-list a { text-decoration:none }
		</style>
		<div class="center-content">
			<div class="page-title">
				<h2>Admin Menu</h2>
			</div>
			<ul class="menu-list">
				<li><%= link_to "Churches", :churches %></li>
				<li><%= link_to "Deputations", :deputations %></li>
				<li><%= link_to "Ministers", :ministers %></li>
				<li><%= link_to "Missionaries", :missionaries %></li>
			</ul>
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
		</div>
