<html>
	<head>
		<title>Missionary Confirmation</title>
	</head>
	<body>
		<div>Bro. <%= @pastor %>, </div><br />
		<div>The following missionaries have been reserved to visit <%= @church %>: </div><br />
		<div>Rev. <%= @missionary %> on <%= @date_time %></div><br />
		<div>
			More information about these missionaries is available on the WaUPC Online 
			Website. If you have questions or concerns, please contact 
			Bro. Phil Darby [foreignmissions@waupc.org].
		</div><br />
		<div>God Bless,</div>
		<div>Foreign Missions Department</div>
		<div>WaUPC Online</div>
	</body>
</html>
