      <div class="topMenuHolder">
        <ul class="topmenu"> 
          <li class="first"><a href="http://www.waupci.org/">Home</a></li> 
          <li class="has_children parent_of_current"> 
            <a href="http://www.waupci.org/ministries/">Ministries</a>
            <ul> 
              <li><a href="http://www.waupci.org/ministries/apostolic-man/">Apostolic Man</a></li> 
              <li class="current"><a href="http://www.waupci.org/ministries/foreign-missions/">Foreign Missions</a></li> 
              <li><a href="http://www.waupci.org/ministries/home-missions/">Home Missions</a></li> 
              <li><a href="http://www.waupci.org/ministries/ladies/">Ladies Ministries</a></li> 
              <li><a href="http://www.waupci.org/ministries/sunday-school/">Sunday School</a></li> 
              <li><a href="http://www.waupci.org/ministries/youth/">Youth Ministries</a></li> 
            </ul> 
          </li> 
          <li><a href="http://www.waupci.org/churches/">Churches</a></li> 
          <li class="has_children">
            <a href="http://www.waupci.org/sections/">Sections</a>
            <ul> 
              <li><a href="http://www.waupci.org/sections/section-one/">Section One</a></li> 
              <li><a href="http://www.waupci.org/sections/section-two/">Section Two</a></li> 
              <li><a href="http://www.waupci.org/sections/section-three/">Section Three</a></li> 
              <li><a href="http://www.waupci.org/sections/section-four/">Section Four</a></li> 
              <li><a href="http://www.waupci.org/sections/section-five/">Section Five</a></li> 
            </ul> 
          </li> 
          <li><a href="http://www.waupci.org/district-calendar/">District Calendar</a></li> 
          <li class="has_children"> 
            <a href="http://www.waupci.org/about/">About Us</a>
            <ul> 
              <li><a href="http://www.waupci.org/about/who-we-are/">Who We Are</a></li> 
              <li><a href="http://www.waupci.org/about/contact-us/">Contact Us</a></li> 
              <li><a href="http://www.waupci.org/about/ministers/">Ministers</a></li> 
              <li class="has_children"> 
                <a href="http://www.waupci.org/about/officials/">Officials</a>
                <ul> 
                  <li><a href="http://www.waupci.org/about/officials/district-officials/">District Officials</a></li> 
                  <li><a href="http://www.waupci.org/about/officials/presbyters/">Presbyters</a></li> 
                </ul> 
              </li> 
            </ul> 
          </li> 
        </ul>
      </div>

